/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
/* line 1, /Users/andreadelrio/Desktop/appacademy/Delectables/Delectables/app/assets/stylesheets/base/reset.scss */
html, body, header, nav, h1, a, ul, li, strong, main, button, i, section, img, div, h2, p, form, fieldset, label, input, textarea, span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

/* line 14, /Users/andreadelrio/Desktop/appacademy/Delectables/Delectables/app/assets/stylesheets/base/reset.scss */
ul {
  list-style: none;
}

/* line 18, /Users/andreadelrio/Desktop/appacademy/Delectables/Delectables/app/assets/stylesheets/base/reset.scss */
img {
  display: block;
  width: 100%;
  height: auto;
}

/* line 24, /Users/andreadelrio/Desktop/appacademy/Delectables/Delectables/app/assets/stylesheets/base/reset.scss */
input[type="password"],
input[type="username"],
input[type="text"],
input[type="submit"],
textarea,
button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* line 39, /Users/andreadelrio/Desktop/appacademy/Delectables/Delectables/app/assets/stylesheets/base/reset.scss */
button,
input[type="submit"] {
  cursor: pointer;
}

/* Clearfix */
/* line 46, /Users/andreadelrio/Desktop/appacademy/Delectables/Delectables/app/assets/stylesheets/base/reset.scss */
.group:after {
  content: "";
  display: block;
  clear: both;
}

/* line 1, /Users/andreadelrio/Desktop/appacademy/Delectables/Delectables/app/assets/stylesheets/base/layout.scss */
html {
  height: 100%;
}

/* line 5, /Users/andreadelrio/Desktop/appacademy/Delectables/Delectables/app/assets/stylesheets/base/layout.scss */
#root {
  height: 100%;
}

/* SHARED */
/* line 11, /Users/andreadelrio/Desktop/appacademy/Delectables/Delectables/app/assets/stylesheets/base/layout.scss */
body {
  font-family: sans-serif;
  background: white;
  color: #654F60;
  font-size: 12px;
  height: 100%;
}

/*HEADER*/
/* line 21, /Users/andreadelrio/Desktop/appacademy/Delectables/Delectables/app/assets/stylesheets/base/layout.scss */
header {
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: center;
  background-color: #D4A69F;
}

/* line 2, /Users/andreadelrio/Desktop/appacademy/Delectables/Delectables/app/assets/stylesheets/components/form.scss */
.form-container {
  background-image: url("/assets/chocolate_cake.jpeg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}

/* line 11, /Users/andreadelrio/Desktop/appacademy/Delectables/Delectables/app/assets/stylesheets/components/form.scss */
.form-setup {
  border: 2px purple solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: white;
  width: 300px;
  height: 500px;
  text-align: center;
  margin-left: 100px;
}

/* line 23, /Users/andreadelrio/Desktop/appacademy/Delectables/Delectables/app/assets/stylesheets/components/form.scss */
.form-title {
  font-size: 32px;
}

/* line 27, /Users/andreadelrio/Desktop/appacademy/Delectables/Delectables/app/assets/stylesheets/components/form.scss */
.form-button {
  background: #AD525E;
  color: white;
  padding: 10px;
}

/* line 33, /Users/andreadelrio/Desktop/appacademy/Delectables/Delectables/app/assets/stylesheets/components/form.scss */
.form-button:hover {
  background-color: #DFA36A;
}

/* line 37, /Users/andreadelrio/Desktop/appacademy/Delectables/Delectables/app/assets/stylesheets/components/form.scss */
.demo-button {
  background: #AD525E;
  color: white;
  padding: 5px;
}

/* line 43, /Users/andreadelrio/Desktop/appacademy/Delectables/Delectables/app/assets/stylesheets/components/form.scss */
.demo-button:hover {
  background-color: #DFA36A;
}

/* line 47, /Users/andreadelrio/Desktop/appacademy/Delectables/Delectables/app/assets/stylesheets/components/form.scss */
.form-label {
  font-weight: bold;
}

/* line 52, /Users/andreadelrio/Desktop/appacademy/Delectables/Delectables/app/assets/stylesheets/components/form.scss */
.form-attributes {
  color: lightgray;
}

/* line 56, /Users/andreadelrio/Desktop/appacademy/Delectables/Delectables/app/assets/stylesheets/components/form.scss */
.form-image {
  display: inline-block;
}

/* line 60, /Users/andreadelrio/Desktop/appacademy/Delectables/Delectables/app/assets/stylesheets/components/form.scss */
.form-errors {
  color: red;
  font-weight: bold;
}

/* line 2, /Users/andreadelrio/Desktop/appacademy/Delectables/Delectables/app/assets/stylesheets/components/nav.scss */
nav {
  width: 100%;
  background-color: #C0768C;
  padding: 6px;
  display: flex;
  align-items: center;
}
/* line 9, /Users/andreadelrio/Desktop/appacademy/Delectables/Delectables/app/assets/stylesheets/components/nav.scss */
nav ul {
  display: flex;
  justify-content: flex-end;
}

/* line 15, /Users/andreadelrio/Desktop/appacademy/Delectables/Delectables/app/assets/stylesheets/components/nav.scss */
.login-signup {
  display: flex;
  justify-content: space-between;
}

/* line 20, /Users/andreadelrio/Desktop/appacademy/Delectables/Delectables/app/assets/stylesheets/components/nav.scss */
.header-nav {
  background: pink;
}

/* line 24, /Users/andreadelrio/Desktop/appacademy/Delectables/Delectables/app/assets/stylesheets/components/nav.scss */
.header-title {
  font-size: 36px;
  font-family: 'Baloo Bhaina';
}

/* line 29, /Users/andreadelrio/Desktop/appacademy/Delectables/Delectables/app/assets/stylesheets/components/nav.scss */
.header-buttons {
  margin-right: 20px;
}

/* line 33, /Users/andreadelrio/Desktop/appacademy/Delectables/Delectables/app/assets/stylesheets/components/nav.scss */
.header-button {
  background-color: #E1C6B8;
  font-family: sans-serif;
  color: #654F60;
  padding: 5px;
  margin: 5px;
  margin-right: 10px;
}

/* line 42, /Users/andreadelrio/Desktop/appacademy/Delectables/Delectables/app/assets/stylesheets/components/nav.scss */
.header-button:hover {
  background-color: #DFA36A;
}

/* line 46, /Users/andreadelrio/Desktop/appacademy/Delectables/Delectables/app/assets/stylesheets/components/nav.scss */
.personal-nav {
  display: flex;
  justify-content: space-between;
}
/* line 50, /Users/andreadelrio/Desktop/appacademy/Delectables/Delectables/app/assets/stylesheets/components/nav.scss */
.personal-nav .header-name {
  font-size: 12px;
  justify-content: center;
  margin-right: 100px;
  font-style: italic;
  float: left;
}
