$lightest-gray: #f7f7f5;
$light-gray: #e2e2e2;
$gray: #999;
$dark-gray: #6f6f6f;

$bone: #F6F1EB;
$tomato: #E46950;
$light-peach: #F2D9D0;
$bloodred: #DF5337;
$peach: #ECAC9D;
$pink-orange: #E8927E;
$pink-oatmeal: #EFC2B6;
