.home-container {
  background-size: cover;
  // width: 100vw;
  // height: 100vh;
  display: flex;
  align-items: center;
  overflow: scroll;
  flex-direction: column;
  padding: 10px;

  .home-img {
    position: static;
    max-height: 500px;
    height: 500px;
    max-width: 1000px;
    min-width: 900px;
    margin-bottom: 5px;
    padding-top: 10px;
  }

  .recipes-wrapper {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 80%;

    .recipes-container {
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .recipe-container {
        max-width: 300px;
        border: 1px $light-gray solid;
        margin: 2px;
        padding: 5px;
        background-color: white;

        .recipe-image {
          display: inline-block;
        }

        .recipe-name {
          font-size: 16px;
          font-weight: bold;
        }
      }

      .recipe-container:hover {
        background: rgba(100, 50, 50, 0.7);
        color: white;
        cursor: pointer;
      }

    }

  }


}
