.home-container {
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: scroll;
  flex-direction: column;

  .home-nav {

  }

  .home-img {
    position: absolute;
    height: auto;
    padding: 5px;
    width: 33.33%;
  }


  .recipes-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .recipe_container {
      flex-grow: 1;
      align-self: flex-start;
      height: 50px;
      width: 75px;

      .recipe-image {
      }

      .recipe-name {

      }

    }

  }


}
