.home-container {
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: scroll;
  flex-direction: column;
  padding: 10px;

  .home-nav {

  }

  .home-img {
    position: static;
    height: auto;;
    width: 100%;
  }

  .recipes-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .recipe_container {
      border: 2px $gray solid;
      padding: 30px;

      .recipe-image {
        display: inline-block;
      }

      .recipe-name {
        font-size: 16px;
        font-weight: bold;
      }

    }

  }


}
