
nav {
  width: 100%;
  background-color: $bone;
  display: flex;
  align-items: center;

  ul {
    display: flex;
    justify-content: flex-end;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px $light-gray solid;
}

.header-nav {
  background: $light-peach;
}

.header-link {
  flex-direction: column;
  padding: 10px;

  .header-title {
    font-size: 60px;
    font-family: 'Baloo Bhaina';
    display: block;
    line-height: 1;
  }

  .sub-header-title {
    font-size: 18px;
  }

}

.header-link:hover {
  background: rgba(100, 50, 50, 0.7);
  color: white;
}

.header-buttons {
  margin-right: 20px;
}

.header-button {
  background-color: #E1C6B8;
  font-family: sans-serif;
  color: #654F60;
  padding: 5px;
  margin: 5px;
  margin-right: 10px;
}

.header-button:hover {
  background-color: $pink-orange;
}

.personal-nav {
  display: flex;
  justify-content: space-between;

  .header-name {
    font-size: 12px;
    justify-content: center;
    margin-right: 100px;
    font-style: italic;
    float: left;
  }

}
