
nav {
  width: 100%;
  background-color: #C0768C;
  padding: 6px;
  display: flex;
  align-items: center;

  ul {
    display: flex;
    justify-content: flex-end;
  }
}

.login-signup {
  display: flex;
  justify-content: space-between;
}

.header-nav {
  background: pink;
}

.header-title {
  font-size: 36px;
  font-family: 'Baloo Bhaina';
}

.header-buttons {
  margin-right: 20px;
}

.header-button {
  background-color: #E1C6B8;
  font-family: sans-serif;
  color: #654F60;
  padding: 5px;
  margin: 5px;
  margin-right: 10px;
}

.header-button:hover {
  background-color: #DFA36A;
}

.personal-nav {
  display: flex;
  justify-content: space-between;

  .header-name {
    font-size: 12px;
    justify-content: center;
    margin-right: 100px;
    font-style: italic;
    float: left;
  }

}
