.recipe-detail-container {
  margin: 0 auto;
  font-size: 16px;
  padding: 10px;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;


  .recipe-detail-title {
    font-family: 'Baloo Bhaina';
    color: $mauve;
    font-size: 24px;
    padding: 0;
  }

  .recipe-img-ing {
    display: flex;
    flex-direction: row;
    background: blue;

    .recipe-detail-img {
      margin: 0 auto;

      // height: 30;
      // width: 10;
    }

    .recipe-ing-container{
      float: right;
      padding: 5px;
      background: white;

      .recipe-detail-ul {
        .recipe-detail-list {
        }
      }
    }
  }

  .recipe-detail-h3 {
    font-family: 'Baloo Bhaina';
  }

  .recipe-dir-container{
    float: left;
    background: green;

    .recipe-detail-p {
    }
  }

  .recipe-detail-button {
    font-size: 14px;
    background: $pink-orange;
    color: $bone;
    height: 30px;
    width: 200px;
    margin: 5px;
  }

  .recipe-detail-button:hover {
    background-color: $peach;
  }

.recipe-comment-create-container{
  display: flex;
  flex-direction: column;

  .recipe-comment-body {
    background: white;

  }

  .recipe-comment-button {
    font-size: 14px;
    background: $pink-orange;
    color: $bone;
    height: 30px;
    width: 200px;
    margin: 5px;
    justify-content: center;
    margin-left: 0 auto;
  }

  .recipe-comment-button:hover {
    background-color: $peach;
  }
}


.recipe-comments-container {
  padding-top: 40px;

  .recipe-comments-title {
    font-family: 'Baloo Bhaina';
    color: $mauve;
    font-size: 24px;
    padding: 0;
  }

  .recipe-comments-ul-container {
    display: flex;
    flex-direction: column;
    border-bottom: $gray;
    padding-top: 40px;


    .recipe-comment {
      border: 1px $light-gray solid;
      margin: 2px;
      padding: 5px;
      background-color: white;

    }
  }
}
}
