.recipe-form-container {
  background-image: url('https://res.cloudinary.com/dg0cmca7a/image/upload/v1489704383/michael-browning-188999_agnvtl.jpg');
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;

  .recipe-form-setup {
    border: 2px $peach solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(255, 255, 255, 0.7);
    width: 400px;
    text-align: center;
    margin: 0 auto;
    padding: 20px;

    .recipe-form-title {
      font-family: 'Baloo Bhaina';
      color: $mauve;
      font-size: 48px;
      line-height: 1;
    }

    .recipe-form-label {
      margin-top: 20px;
      margin-bottom: 5px;
      font-weight: bold;
    }

    .recipe-form-attribute {
      font-weight: bold;
      background-color: rgba(255, 255, 255, 0.7);
      margin: 5px auto;
      padding: 2px;
      width: 200px;
    }

    .recipe-form-dir {
      font-weight: bold;
      background-color: rgba(255, 255, 255, 0.7);
      margin: 5px auto;
      padding: 2px;
      width: 300px;
      height: 100px;
    }

    .recipe-form-selector {
      max-width: 70%;
      min-width: 50px;
      margin: 0 auto;
    }

    .recipe-form-button {
      font-size: 14px;
      background: $pink-orange;
      color: $bone;
      height: 30px;
      width: 200px;
      margin: 5px auto;
    }

    .recipe-form-button:hover {
      background-color: $peach;
    }

    .upload-img-button {
      font-size: 10px;
      background: $pink-orange;
      color: $bone;
      height: 30px;
      width: 130px;
      margin: 5px auto;
    }

    .add-ingredient-button {
      float: right;
      font-size: 10px;
      background: $pink-orange;
      color: $bone;
      height: 25px;
      width: 125px;
      margin: 5px;
    }

    .add-ingredient-button:hover {
      background-color: $peach;
    }

    .ing-form-container {
      padding-top: 20px;
      margin-bottom: 20px;

      .ing-list-container {
        margin: 5px auto;

        .ing-form-attribute {
          margin-left: 5px;
          font-weight: bold;
          background-color: rgba(255, 255, 255, 0.5);
          padding: 2px;
          width: 100px;
        }
      }
    }
    .recipe-form-units option {
      -webkit-appearance: none;
      color: $gray;
    }

    .recipe-form-image {
      display: inline-block;
    }

    .recipe-form-errors {
      font-size: 12px;
      color: $bloodred;
      font-weight: bold;

      .recipe-error{

      }
    }

  }

}
