.recipe-detail-container {
  margin: 0 auto;
  font-size: 16px;
  padding: 20px;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;

  .recipe-title-container {
    font-family: 'Baloo Bhaina';
    color: $mauve;
    padding: 5;

    .recipe-detail-title {
      font-size: 24px;
      font-weight: bold;
    }

    .recipe-detail-author {
      font-size: 12px;
    }
  }

  .recipe-img-ing {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    padding: 10px;

    .recipe-detail-img {
      justify-content: flex-start;
      margin: 0 auto;
      background: lightgray;
      padding: 10px;
      height: 30%;
      width: 40%;
      margin: 0;
    }

    .recipe-ing-container{
      padding: 20px;
      flex-direction: column;
      flex-grow: 2 0 0;

      .recipe-detail-ul {
        float: right;
        flex-flow: wrap;

        .recipe-detail-list {
          flex-flow: wrap;
          list-style: disc;
          list-style-position: inside;
          padding-left: 20px;
        }
      }
    }
  }


  .recipe-detail-label {
    font-family: 'Baloo Bhaina';
    font-size: 18px;
    padding: 0;
  }

  .recipe-dir-container{
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    float: left;

    .recipe-detail-p {
      padding-left: 20px;
      padding-right: 50px;
    }
  }

  .recipe-detail-button {
    font-size: 14px;
    background: $pink-orange;
    color: $bone;
    height: 30px;
    width: 200px;
    margin: 5px;
  }

  .recipe-detail-button:hover {
    background-color: $peach;
  }


.recipe-comments-container {
  padding-top: 10px;
  width: 95%;

  .recipe-comment-create-container{
    display: flex;
    flex-direction: column;

    .recipe-comment-body {
      background: white;
    }

    .recipe-comment-button {
      display: flex;
      font-size: 14px;
      background: $pink-orange;
      color: $bone;
      height: 30px;
      width: 200px;
      margin: 5px;
      justify-content: center;
      align-items: center;
      margin-left: 0 auto;
    }

    .recipe-comment-button:hover {
      background-color: $peach;
    }
  }

  .recipe-comments-ul-container {
    display: flex;
    flex-direction: column;
    border-bottom: $gray;
    padding-top: 20px;

    .recipe-comment-container {
      flex-direction: row;
      border: 1px $light-gray solid;
      margin: 2px;
      padding: 5px;
      background-color: white;

      .recipe-comment-name{
        font-family: 'Baloo Bhaina';
        font-size: 12px;
        font-weight: 100;
        // font-weight: bold;
      }
      .recipe-comment {
        font-weight: 50;
        font-size: 14px;
      }
    }
  }
}
}
